@import "./styles/colors";
@import "./layouts/SideBar.scss";
@import "./components/MenuItem.scss";

.offcanvas {
  @extend .side-bar;
  @extend .menu-item;
  .offcanvas-body {
    padding: 0;
  }
  .offcanvas-header {
    display: flex;
    justify-content: end;
    background-color: $primary;
    height: 3.75rem;
    border-bottom: 1px solid black;
  }
}
