.default-layout {
  main {
    position: fixed;
    top: 10%;
    &.main-shrinked {
      left: 6%;
    }
    &.main-unshrinked {
      left: 22%;
    }
  }
}

@media (max-width: 1200px) {
  .default-layout {
    main {
      &.main-shrinked {
        left: 10%;
      }
    }
  }
}
