@import "../styles/colors";

.header-mobile {
  background-color: $primary;
  height: 3.8rem;
  border-bottom: 1px solid $black;
  width: 100%;
  left: 22%;
  .fa-sliders-h {
    cursor: pointer;
  }  
}