@import "../styles/colors";

.header {
  background-color: $primary;
  height: 10%;
  border-bottom: 1px solid $black;
  width: 100%;
  .fa-sliders-h {
    cursor: pointer;
  }
  &.header-shrinked {
    left: 6%;
    transition: all 0.5s ease-out;
  }
  &.header-unshrinked {
    left: 22%;
    transition: all 0.5s ease-out;
  }
}


@media (max-width: 1200px) {
  .header {
    &.header-shrinked {
      left: 10%;
      transition: all 0.5s ease-out;
    }  
  }
}
