@import "../styles/colors";

.side-bar {
  background-color: $primary;
  border-right: 1px solid black;
  .sidebar-logo {
    height: 4rem;
    border-bottom: 1px solid black;
  }
  .logo, .side-bar-icon {
    width: 3rem;
  }
}
