@import "../styles/colors";

.side-bar {
  color: $white;
  width: 22%;
  a {
    color: $white;
  }
  .nav-link:focus,
  .nav-link:hover
   {
    color: $visited;
  }
  .sidebar-logo {
    background-color: $primary;
    height: 10%;
    border-bottom: 1px solid $black;
    border-right: 1px solid $black;

    .logo {
      width: 3rem;
      height: 3rem;
    }
  }

  .side-bar-icon {
    width: 3rem;
    height: 2rem;
  }

  .side-bar-icon-shrinked {
    width: 3rem;
    height: 2rem;
  }

  &.shrink-sidebar {
    width: 6%;
    transition: all 0.5s ease-out;
  }

  &.unshrink {
    width: 22%;
    transition: all 0.5s ease-out;
  }
  .side-menu-items {
    background-color: $primary;
    height: 100%;
    border-right: 1px solid $black;
    display: block;
    padding-bottom: 6rem;
    overflow-y: auto;
  }
  .nav-item {
    border-bottom: 1px solid $black;
  }
}

@media (max-width: 1200px) {
  .side-bar {
    &.shrink-sidebar {
      width: 10%;
      transition: all 0.5s ease-out;
    }
  }
}
